/* -------------------- */
/* Breakpoints          */
/* -------------------- */

/* Media query breakpoints (min-widths) */

/* 24rem = 384px -- mobile -> tablet */
/* 44rem = 704px -- mobile -> tablet/desktop */
/* 64rem = 1024px -- tablet -> desktop */

/* -------------------- */
/* Fonts                */
/* -------------------- */

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  src: url('@/assets/fonts/PlusJakartaSans-VariableFont_wght.woff2') format('woff2');
}

/* -------------------- */
/* Custom properties    */
/* -------------------- */

/* general design system properties */
:root {
  /* color palette */
  --color-white: 0 0% 100%; /* hex ffffff / rgb 255 255 255 */
  --color-black: 0 0% 0%; /* hex 000000 / rgb 0 0 0 */

  --color-red: 4 69% 50%; /* hex D73328 / rgb 215 51 40 */

  --color-lime: 61 70% 52%; /* hex D8DB2F / rgb 216 219 47 */
  --color-lime-300: 61 70% 76%; /* hex eced97 / rgb 236 237 151 */
  --color-lime-100: 61 70% 96%; /* hex eced97 / rgb 236 237 151 */

  --color-slate-900: 202 55% 16%;
  --color-slate-700: 200 24% 40%;
  --color-slate-500: 200 26% 54%;
  --color-slate-300: 203 41% 72%;
  --color-slate-100: 202 86% 94%;

  /* shadows */
  --shadow: 0 32px 64px 0 hsl(var(--color-slate-900) / 0.1);

  /* font-families */
  --ff-base: 'Plus Jakarta Sans', sans-serif;

  /* font-weights */
  --fw-medium: 500;
  --fw-bold: 700;

  /* font-sizes */
  --fs-700: 3.5rem; /* 56px */
  --fs-600: 1.5rem; /* 24px */
  --fs-500: 1.125rem; /* 18px */
  --fs-400: 1rem; /* 16px */
  --fs-300: 0.875rem; /* 14px */

  /* border-radii */
  --br-100: 0.25rem; /* 4px */
  --br-200: 0.5rem; /* 8px */
  --br-300: 0.75rem; /* 12px */
  --br-400: 1.5rem; /* 24px */
  --br-700: 5rem; /* 80px */
  --br-900: 999px; /* 999px */

  /* spacing */
  --space-500: 2.5rem; /* 40px */
  --space-400: 2rem; /* 32px */
  --space-300: 1.5rem; /* 24px */
  --space-200: 1rem; /* 16px */
  --space-150: 0.75rem; /* 12px */
  --space-100: 0.5rem; /* 8px */
}

/* -------------------- */
/* Reset                */
/* -------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
figure,
picture {
  margin: 0;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

/* -------------------- */
/* Body Setup           */
/* -------------------- */

body {
  min-inline-size: 20rem; /* 320px */
  min-block-size: 100vb;
}

/* -------------------- */
/* Utility classes      */
/* -------------------- */

/* screen reader only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
